<ion-view view-title="Search">
  <ion-content>
    <ion-list>
      <ion-item class="item-input">
        <input type="text" placeholder="Search..." ng-model="searchTerm"/>
      </ion-item>
      <button class="button button-full button-positive" ng-click="searchGifs">
        find gifs
      </button>
      <ion-item class="item-divider"></ion-item>
      <div class="card" ng-repeat="g in gifs">

        <ion-item class="item-image">
          <img src="{{g.images.fixed_height.url}}"/>
        </ion-item>
        <ion-item class="item-icon-right">
          <i class="icon ion-ios-star-outline" ng-click="favouriteGif(g.slug)"></i>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
